In [1]:
from pingouin import ancova
import pandas as pd
import numpy as np

data = pd.DataFrame({'methodology': np.repeat(['A', 'B', 'C'], 4),
					'current_grade': [67, 88, 75, 85,
									92, 77, 74, 88,
									91, 88, 82, 80],
					'test_score': [77, 89, 74, 69,
									88, 93, 94, 90,
									85, 81, 83, 79]})

ancova(data=data, dv='test_score', covar='current_grade', between='methodology')

          Source          SS  DF         F     p-unc       np2
0    methodology  387.510992   2  6.005703  0.025542  0.600228
1  current_grade    1.404669   1  0.043540  0.839927  0.005413
2       Residual  258.095331   8       NaN       NaN       NaN